# OpenDart API 
- 회계년도와 공시년도 정확한 조정이 필요하다. 
- 전에는 회계년도에서 4개월을 미루는 것으로 했었는데 정확한 데이터 클리닝을 위해서는 OpenDart API를 이용해서 정확한 공시년도를 가져올 필요가 있다.

## OpenDart API 발급
- [Dart 사이트](https://opendart.fss.or.kr/)에서 회원가입후 발급 받을 수 있다.

In [74]:
import OpenDartReader
import pandas as pd 
from pathlib import Path

In [3]:
api_key = '507067cac0daee90d45db48476241a0f47665afc'

In [4]:
dart = OpenDartReader(api_key)

## 예시로 삼성전자 정기보고서 가져오기

In [5]:
data = dart.list('005930', start='1990-01-01', kind='A')

In [6]:
data

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,분기보고서 (2021.03),20210517001185,삼성전자,20210517,
1,00126380,삼성전자,005930,Y,사업보고서 (2020.12),20210309000744,삼성전자,20210309,연
2,00126380,삼성전자,005930,Y,분기보고서 (2020.09),20201116001248,삼성전자,20201116,
3,00126380,삼성전자,005930,Y,반기보고서 (2020.06),20200814001766,삼성전자,20200814,
4,00126380,삼성전자,005930,Y,분기보고서 (2020.03),20200515001451,삼성전자,20200515,
...,...,...,...,...,...,...,...,...,...
83,00126380,삼성전자,005930,Y,반기보고서 (2000.06),20000814000482,삼성전자,20000814,
84,00126380,삼성전자,005930,Y,[첨부추가]사업보고서 (1999.12),20000330000796,삼성전자,20000330,연
85,00126380,삼성전자,005930,Y,분기보고서 (2000.03),20000515000739,삼성전자,20000515,
86,00126380,삼성전자,005930,Y,[기재정정]반기보고서 (1999.06),19990824000003,삼성전자,19990824,
87,00126380,삼성전자,005930,Y,[기재정정]사업보고서 (1998.12),19990626000007,삼성전자,19990626,연

## 정규 표현식으로 회계년도 가져오기

In [7]:
import re

In [14]:
pattern = r"\d{4}.\d{2}"

In [15]:
text = '반기보고서 (2000.06)'

In [44]:
tmp = re.findall(pattern, text)[0]

In [46]:
report_name = data['report_nm']

In [50]:
data['account_date'] = report_name.apply(lambda x: re.findall(pattern, x)[0])

In [51]:
data

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm,account_date
0,00126380,삼성전자,005930,Y,분기보고서 (2021.03),20210517001185,삼성전자,20210517,,2021.03
1,00126380,삼성전자,005930,Y,사업보고서 (2020.12),20210309000744,삼성전자,20210309,연,2020.12
2,00126380,삼성전자,005930,Y,분기보고서 (2020.09),20201116001248,삼성전자,20201116,,2020.09
3,00126380,삼성전자,005930,Y,반기보고서 (2020.06),20200814001766,삼성전자,20200814,,2020.06
4,00126380,삼성전자,005930,Y,분기보고서 (2020.03),20200515001451,삼성전자,20200515,,2020.03
...,...,...,...,...,...,...,...,...,...,...
83,00126380,삼성전자,005930,Y,반기보고서 (2000.06),20000814000482,삼성전자,20000814,,2000.06
84,00126380,삼성전자,005930,Y,[첨부추가]사업보고서 (1999.12),20000330000796,삼성전자,20000330,연,1999.12
85,00126380,삼성전자,005930,Y,분기보고서 (2000.03),20000515000739,삼성전자,20000515,,2000.03
86,00126380,삼성전자,005930,Y,[기재정정]반기보고서 (1999.06),19990824000003,삼성전자,19990824,,1999.06
87,00126380,삼성전자,005930,Y,[기재정정]사업보고서 (1998.12),19990626000007,삼성전자,19990626,연,1998.12

In [54]:
data['account_date'] = pd.to_datetime(data['account_date'])

In [58]:
data['rcept_dt'] = pd.to_datetime(data['rcept_dt'])

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   corp_code     88 non-null     object
 1   corp_name     88 non-null     object
 2   stock_code    88 non-null     object
 3   corp_cls      88 non-null     object
 4   report_nm     88 non-null     object
 5   rcept_no      88 non-null     object
 6   flr_nm        88 non-null     object
 7   rcept_dt      88 non-null     datetime64[ns]
 8   rm            88 non-null     object
 9   account_date  88 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(8)
memory usage: 7.0+ KB

## 데이터를 보면 성공적으로 회계년도와 공시년도가 datetime으로 타입이 변경된 것을 볼 수 있다.

In [64]:
data = data[['stock_code', 'report_nm', 'rcept_dt', 'account_date']]

## 멀티 인덱스 먹이기

In [67]:
data.set_index(['account_date', 'stock_code'], inplace=True)

In [69]:
data.columns = ['report_name', 'receipt_date']

In [70]:
data

                                   report_name receipt_date
account_date stock_code
2021-03-01   005930            분기보고서 (2021.03)   2021-05-17
2020-12-01   005930            사업보고서 (2020.12)   2021-03-09
2020-09-01   005930            분기보고서 (2020.09)   2020-11-16
2020-06-01   005930            반기보고서 (2020.06)   2020-08-14
2020-03-01   005930            분기보고서 (2020.03)   2020-05-15
...                                        ...          ...
2000-06-01   005930            반기보고서 (2000.06)   2000-08-14
1999-12-01   005930      [첨부추가]사업보고서 (1999.12)   2000-03-30
2000-03-01   005930            분기보고서 (2000.03)   2000-05-15
1999-06-01   005930      [기재정정]반기보고서 (1999.06)   1999-08-24
1998-12-01   005930      [기재정정]사업보고서 (1998.12)   1999-06-26

[88 rows x 2 columns]

## 클리닝 코드 함수화 하기

In [71]:
def cleaning_report(data: pd.DataFrame):
    report_name = data['report_nm']
    data['account_date'] = report_name.apply(lambda x: re.findall(pattern, x)[0])
    data['account_date'] = pd.to_datetime(data['account_date'])
    data['rcept_dt'] = pd.to_datetime(data['rcept_dt'])
    data = data[['stock_code', 'report_nm', 'rcept_dt', 'account_date']]
    data.set_index(['account_date', 'stock_code'], inplace=True)
    data.columns = ['report_name', 'receipt_date']
    data.index.names = ['date', 'ticker']
    return data

In [72]:
data = dart.list('005930', start='1990-01-01', kind='A')

In [73]:
cleaning_report(data)

                                   report_name receipt_date
account_date stock_code
2021-03-01   005930            분기보고서 (2021.03)   2021-05-17
2020-12-01   005930            사업보고서 (2020.12)   2021-03-09
2020-09-01   005930            분기보고서 (2020.09)   2020-11-16
2020-06-01   005930            반기보고서 (2020.06)   2020-08-14
2020-03-01   005930            분기보고서 (2020.03)   2020-05-15
...                                        ...          ...
2000-06-01   005930            반기보고서 (2000.06)   2000-08-14
1999-12-01   005930      [첨부추가]사업보고서 (1999.12)   2000-03-30
2000-03-01   005930            분기보고서 (2000.03)   2000-05-15
1999-06-01   005930      [기재정정]반기보고서 (1999.06)   1999-08-24
1998-12-01   005930      [기재정정]사업보고서 (1998.12)   1999-06-26

[88 rows x 2 columns]

## 상장폐지 포함 코스피 전 종목 ticker들 불러오기

In [75]:
DATA_STORE = Path('fnguide_data.h5')

In [76]:
with pd.HDFStore(DATA_STORE) as store:
    stocks = store['fnguide/stocks']

In [78]:
tickers = stocks['ticker']

In [79]:
tickers

0       000010
1       000020
2       000030
3       000040
4       000050
         ...
1156    900140
1157    950010
1158    950070
1159    950100
1160    950210
Name: ticker, Length: 1161, dtype: object

In [80]:
from concurrent import futures
import concurrent

In [81]:
data_list = []

def get_data(ticker: str):
    try:
        data = dart.list(ticker, start='1990-01-01', kind='A')
        data = cleaning_report(data)
        data_list.append(data)
    except Exception as e:
        print(f"Error: {e}, Ticker: {ticker}")
        
with futures.ThreadPoolExecutor(50) as executor:
    executor.map(get_data, tickers)

Error: name 'code' is not defined, Ticker: 000090
Error: name 'code' is not defined, Ticker: 000130
Error: name 'code' is not defined, Ticker: 000160
Error: name 'code' is not defined, Ticker: 000170
Error: name 'code' is not defined, Ticker: 000200
Error: name 'code' is not defined, Ticker: 000280
Error: name 'code' is not defined, Ticker: 000310
Error: name 'code' is not defined, Ticker: 000330
Error: name 'code' is not defined, Ticker: 000450
Error: name 'code' is not defined, Ticker: 000510
Error: name 'code' is not defined, Ticker: 000570
Error: name 'code' is not defined, Ticker: 000600Error: list index out of range, Ticker: 000070

Error: list index out of range, Ticker: 000240
Error: name 'code' is not defined, Ticker: 000730
Error: name 'code' is not defined, Ticker: 000840
Error: name 'code' is not defined, Ticker: 000870
Error: name 'code' is not defined, Ticker: 000900
Error: name 'code' is not defined, Ticker: 000930
Error: name 'code' is not defined, Ticker: 001030
Error: name 'code' is not defined, Ticker: 001090
Error: name 'code' is not defined, Ticker: 001160
Error: name 'code' is not defined, Ticker: 001170
Error: name 'code' is not defined, Ticker: 001350
Error: name 'code' is not defined, Ticker: 001400
Error: list index out of range, Ticker: 001040
Error: name 'code' is not defined, Ticker: 001610
Error: list index out of range, Ticker: 000830
Error: name 'code' is not defined, Ticker: 001690Error: name 'code' is not defined, Ticker: 001700
Error: list index out of range, Ticker: 001150

Error: name 'code' is not defined, Ticker: 001910
Error: name 'code' is not defined, Ticker: 001920
Error: name 'code' is not defined, Ticker: 001930
Error: name 'code' is not defined, Ticker: 002010
Error: list index out of range, Ticker: 001290Error: list index out of range, Ticker: 001440

Error: name 'code' is not defined, Ticker: 002050
Error: name 'code' is not defined, Ticker: 002080
Error: name 'code' is not defined, Ticker: 002130
Error: name 'code' is not defined, Ticker: 002180
Error: list index out of range, Ticker: 001500
Error: name 'code' is not defined, Ticker: 002340
Error: name 'code' is not defined, Ticker: 002440
Error: name 'code' is not defined, Ticker: 002610
Error: name 'code' is not defined, Ticker: 002730
Error: name 'code' is not defined, Ticker: 002740
Error: name 'code' is not defined, Ticker: 002910
Error: name 'code' is not defined, Ticker: 002940
Error: name 'code' is not defined, Ticker: 003110
Error: name 'code' is not defined, Ticker: 003320Error: name 'code' is not defined, Ticker: 003290

Error: name 'code' is not defined, Ticker: 003500
Error: name 'code' is not defined, Ticker: 003810
Error: name 'code' is not defined, Ticker: 003840
Error: name 'code' is not defined, Ticker: 003970
Error: name 'code' is not defined, Ticker: 004110
Error: list index out of range, Ticker: 003350
Error: name 'code' is not defined, Ticker: 004210
Error: name 'code' is not defined, Ticker: 004260
Error: name 'code' is not defined, Ticker: 004280
Error: name 'code' is not defined, Ticker: 004290
Error: name 'code' is not defined, Ticker: 004390
Error: name 'code' is not defined, Ticker: 004460
Error: name 'code' is not defined, Ticker: 004600
Error: name 'code' is not defined, Ticker: 004730
Error: name 'code' is not defined, Ticker: 005000
Error: name 'code' is not defined, Ticker: 005020
Error: name 'code' is not defined, Ticker: 005040
Error: name 'code' is not defined, Ticker: 005060
Error: name 'code' is not defined, Ticker: 005100
Error: name 'code' is not defined, Ticker: 005410
Error: name 'code' is not defined, Ticker: 005510Error: name 'code' is not defined, Ticker: 005580

Error: name 'code' is not defined, Ticker: 005660
Error: name 'code' is not defined, Ticker: 005770
Error: name 'code' is not defined, Ticker: 005790
Error: list index out of range, Ticker: 004770
Error: name 'code' is not defined, Ticker: 006160
Error: name 'code' is not defined, Ticker: 006240
Error: name 'code' is not defined, Ticker: 006270
Error: name 'code' is not defined, Ticker: 006320
Error: name 'code' is not defined, Ticker: 006290
Error: list index out of range, Ticker: 005110
Error: name 'code' is not defined, Ticker: 006510
Error: name 'code' is not defined, Ticker: 006540
Error: name 'code' is not defined, Ticker: 006610Error: name 'code' is not defined, Ticker: 006520Error: name 'code' is not defined, Ticker: 006590

Error: name 'code' is not defined, Ticker: 006790

Error: name 'code' is not defined, Ticker: 007000
Error: name 'code' is not defined, Ticker: 007020Error: name 'code' is not defined, Ticker: 007100
Error: name 'code' is not defined, Ticker: 007170

Error: name 'code' is not defined, Ticker: 007230
Error: name 'code' is not defined, Ticker: 007240
Error: name 'code' is not defined, Ticker: 007380
Error: name 'code' is not defined, Ticker: 007410
Error: name 'code' is not defined, Ticker: 007420
Error: name 'code' is not defined, Ticker: 007360
Error: name 'code' is not defined, Ticker: 006900
Error: name 'code' is not defined, Ticker: 007790
Error: name 'code' is not defined, Ticker: 008100
Error: name 'code' is not defined, Ticker: 008190
Error: name 'code' is not defined, Ticker: 008480Error: name 'code' is not defined, Ticker: 008440

Error: name 'code' is not defined, Ticker: 008530
Error: name 'code' is not defined, Ticker: 008640Error: name 'code' is not defined, Ticker: 008650

Error: name 'code' is not defined, Ticker: 008750
Error: name 'code' is not defined, Ticker: 008810
Error: name 'code' is not defined, Ticker: 008890
Error: name 'code' is not defined, Ticker: 008950
Error: name 'code' is not defined, Ticker: 008980
Error: name 'code' is not defined, Ticker: 009030Error: name 'code' is not defined, Ticker: 008990
Error: name 'code' is not defined, Ticker: 009050

Error: list index out of range, Ticker: 007280
Error: name 'code' is not defined, Ticker: 009330
Error: list index out of range, Ticker: 007980
Error: name 'code' is not defined, Ticker: 009650Error: list index out of range, Ticker: 007810
Error: list index out of range, Ticker: 008000

Error: name 'code' is not defined, Ticker: 009840
Error: name 'code' is not defined, Ticker: 009990
Error: name 'code' is not defined, Ticker: 010000
Error: name 'code' is not defined, Ticker: 010030
Error: name 'code' is not defined, Ticker: 010110
Error: name 'code' is not defined, Ticker: 010220
Error: name 'code' is not defined, Ticker: 010330
Error: name 'code' is not defined, Ticker: 010510
Error: list index out of range, Ticker: 009270Error: name 'code' is not defined, Ticker: 010530

Error: name 'code' is not defined, Ticker: 010910
Error: name 'code' is not defined, Ticker: 010970
Error: name 'code' is not defined, Ticker: 011180
Error: name 'code' is not defined, Ticker: 011290
Error: name 'code' is not defined, Ticker: 011260
Error: name 'code' is not defined, Ticker: 011510Error: name 'code' is not defined, Ticker: 011450
Error: name 'code' is not defined, Ticker: 011540

Error: name 'code' is not defined, Ticker: 011650Error: name 'code' is not defined, Ticker: 011470

Error: name 'code' is not defined, Ticker: 011820
Error: name 'code' is not defined, Ticker: 011840
Error: name 'code' is not defined, Ticker: 011880Error: name 'code' is not defined, Ticker: 011940

Error: name 'code' is not defined, Ticker: 011960
Error: name 'code' is not defined, Ticker: 012150
Error: name 'code' is not defined, Ticker: 012190
Error: name 'code' is not defined, Ticker: 012220
Error: name 'code' is not defined, Ticker: 012270
Error: name 'code' is not defined, Ticker: 012260
Error: name 'code' is not defined, Ticker: 012470Error: name 'code' is not defined, Ticker: 012500

Error: list index out of range, Ticker: 011090
Error: name 'code' is not defined, Ticker: 012710Error: name 'code' is not defined, Ticker: 012830
Error: name 'code' is not defined, Ticker: 012910

Error: name 'code' is not defined, Ticker: 013040Error: name 'code' is not defined, Ticker: 013070

Error: name 'code' is not defined, Ticker: 013250
Error: name 'code' is not defined, Ticker: 013820
Error: name 'code' is not defined, Ticker: 014040Error: name 'code' is not defined, Ticker: 014080

Error: name 'code' is not defined, Ticker: 014150

Error: name 'code' is not defined, Ticker: 014390
Error: name 'code' is not defined, Ticker: 014400
Error: name 'code' is not defined, Ticker: 014430
Error: name 'code' is not defined, Ticker: 014450
Error: name 'code' is not defined, Ticker: 014490
Error: name 'code' is not defined, Ticker: 014740
Error: name 'code' is not defined, Ticker: 014980
Error: list index out of range, Ticker: 012030
Error: name 'code' is not defined, Ticker: 015080
Error: name 'code' is not defined, Ticker: 015340
Error: name 'code' is not defined, Ticker: 015580Error: name 'code' is not defined, Ticker: 015620
Error: list index out of range, Ticker: 012400
Error: name 'code' is not defined, Ticker: 015650
Error: name 'code' is not defined, Ticker: 015730Error: name 'code' is not defined, Ticker: 015780Error: name 'code' is not defined, Ticker: 015880Error: name 'code' is not defined, Ticker: 015980



Error: name 'code' is not defined, Ticker: 016070
Error: name 'code' is not defined, Ticker: 016350Error: name 'code' is not defined, Ticker: 016390

Error: name 'code' is not defined, Ticker: 016430

Error: name 'code' is not defined, Ticker: 016480
Error: name 'code' is not defined, Ticker: 016500
Error: name 'code' is not defined, Ticker: 016550Error: name 'code' is not defined, Ticker: 016680

Error: name 'code' is not defined, Ticker: 016640Error: name 'code' is not defined, Ticker: 016690

Error: name 'code' is not defined, Ticker: 017070Error: name 'code' is not defined, Ticker: 017110

Error: name 'code' is not defined, Ticker: 017120Error: name 'code' is not defined, Ticker: 017320

Error: name 'code' is not defined, Ticker: 018020
Error: name 'code' is not defined, Ticker: 018550Error: name 'code' is not defined, Ticker: 018570Error: name 'code' is not defined, Ticker: 018590


Error: name 'code' is not defined, Ticker: 019230
Error: name 'code' is not defined, Ticker: 019380
Error: name 'code' is not defined, Ticker: 020100
Error: list index out of range, Ticker: 016800
Error: name 'code' is not defined, Ticker: 021170
Error: list index out of range, Ticker: 016830
Error: name 'code' is not defined, Ticker: 023130
Error: name 'code' is not defined, Ticker: 024960
Error: name 'code' is not defined, Ticker: 025840
Error: name 'code' is not defined, Ticker: 027460
Error: name 'code' is not defined, Ticker: 029890Error: name 'code' is not defined, Ticker: 030710

Error: list index out of range, Ticker: 025930
Error: list index out of range, Ticker: 028260
Error: list index out of range, Ticker: 034300
Error: list index out of range, Ticker: 036580
{"status":"013","message":"조회된 데이타가 없습니다."}{"status":"013","message":"조회된 데이타가 없습니다."}{"status":"013","message":"조회된 데이타가 없습니다."}

Error: 'report_nm', Ticker: 361610{"status":"013","message":"조회된 데이타가 없습니다."}
Error: 'report_nm', Ticker: 383800
Error: 'report_nm', Ticker: 383220


Error: 'report_nm', Ticker: 380440

In [86]:
report_data = pd.concat(data_list).sort_index()

In [101]:
report_data

                             report_name receipt_date
date       ticker
1998-01-01 008540  [기재정정]사업보고서 (1998.01)   1999-07-02
1998-03-01 000020        사업보고서 (1998.03)   1999-06-28
           000060        사업보고서 (1998.03)   1999-06-29
           000220        사업보고서 (1998.03)   1999-06-28
           000230        사업보고서 (1998.03)   1999-06-28
...                                  ...          ...
2021-03-01 375500        분기보고서 (2021.03)   2021-05-14
           378850        분기보고서 (2021.03)   2021-05-17
           900140        분기보고서 (2021.03)   2021-05-28
           950210        분기보고서 (2021.03)   2021-05-28
2021-05-01 004310  [기재정정]반기보고서 (2021.05)   2021-07-15

[62581 rows x 2 columns]

## 데이터 저장

In [102]:
OPENDART_DATA = Path('opendart.h5')

In [103]:
with pd.HDFStore(OPENDART_DATA) as store:
    store.put('opendart/report', report_data)

In [104]:
with pd.HDFStore(OPENDART_DATA) as store:
    print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: opendart.h5
/opendart/report            frame        (shape->[1,2])

In [107]:
stocks[stocks['ticker'] == '000090']

   ticker  name
8  000090  두산상사