# Fn Guide 데이터 사용을 넣어주는 이유
- 위에서 한 Marcap을 이용해서 가져온 데이터는 수정주가가 아니고 상장 주식수를 이용해서 한번 전처리를 했어도 회사 병합, 배당 등등 의 사항들이 수정 주가에 들어가 있지 않는다.
- Fn Guide에서는 현금 배당을 포함한 수정주가 데이터를 가져올 수 있고 상장폐지 데이터도 가져올 수 있어서 Fn Guide 구독이 되어 있으면 Fn Guide에서 데이터를 가져오는 것을 추천한다.

In [1]:
import pandas as pd 
from pathlib import Path

In [2]:
idx = pd.IndexSlice

## Fn Guide 엑셀 데이터 형식 멀티 인덱스로 변환 함수 정의

In [3]:
def cleaning_fn_data(data: pd.DataFrame, column_name) -> pd.DataFrame:
    '''
    Transform FN Guide Excel Data to Multi Index DataFrame
    input
    data pd.DataFrame:
        FN Guide Excel Data Format
    
    column_name str:
        Set DataFrame column name
    
    return -> pd.DataFrame (eg. SamSung Equity)
    
                         column_name
    date        ticker 
    2017-01-01  005930       19950
    2017-01-02  005930       19350
    2017-01-04  005930       20050
    2017-01-05  005930       21050
    '''
    tickers_list = data.iloc[7].to_list()
    tmp = data.iloc[13:]
    tickers_index = pd.Index(data=tickers_list, name='ticker')
    tmp.columns = tickers_index
    tmp.set_index('Symbol', inplace=True)
    tmp.index.name = 'date'
    data =  tmp.rename(columns=lambda x: x.replace('A', '')).stack('ticker').to_frame(column_name) 
    return data.astype({column_name: 'int64'})

## 수정시가 가져오기

In [4]:
adj_open = pd.read_excel('FNGuide/수정시가_현금배당.xlsx')

In [5]:
adj_open_cleaning = cleaning_fn_data(adj_open, 'adj_open')

In [6]:
adj_open_cleaning

                   adj_open
date       ticker
1990-01-01 005930       280
           006400     14667
           005380      9713
           000270    148637
           005490     13435
...                     ...
2021-07-26 012600      2490
           001770     26350
           002420      6160
           008500     21050
           010580       306

[5836780 rows x 1 columns]

## 수정종가 가져오기

In [7]:
adj_close = pd.read_excel('FNGuide/수정종가_현금배당.xlsx')

In [8]:
adj_close_cleaning = cleaning_fn_data(adj_close, 'adj_close')

## 수정고가 가져오기

In [9]:
adj_high = pd.read_excel('FNGuide/수정고가_현금배당.xlsx')

In [10]:
adj_high_cleaning = cleaning_fn_data(adj_high, 'adj_high')

## 수정저가 가져오기

In [11]:
adj_low = pd.read_excel('FNGuide/수정저가_현금배당.xlsx')

In [12]:
adj_low_cleaning = cleaning_fn_data(adj_low, 'adj_low')

## 거래량 가져오기

In [13]:
volume = pd.read_excel('FNGuide/거래량.xlsx')

In [14]:
volume_cleaning = cleaning_fn_data(volume, 'volume')

## 상장주식수 가져오기

In [15]:
list_shares = pd.read_excel('FNGuide/상장주식수.xlsx')

In [16]:
list_shares_cleaning = cleaning_fn_data(list_shares, 'stocks')

## 시가총액 가져오기

In [17]:
marcap = pd.read_excel('FNGuide/시가총액.xlsx')

In [18]:
marcap_cleaning = cleaning_fn_data(marcap, 'marcap')

## 데이터 확인

In [130]:
returns = adj_close_cleaning.unstack('ticker').pct_change(240).stack('ticker')

In [131]:
buffer = 0.00001

In [132]:
lower_return = returns['adj_close'].quantile(buffer)
upper_return = returns['adj_close'].quantile(1-buffer)

In [133]:
upper_return

4499.0

In [134]:
# lower_tickers = returns[returns['adj_close'] < lower_return].index.get_level_values('ticker').unique()
upper_tickers = returns[returns['adj_close'] > upper_return].index.get_level_values('ticker').unique()

In [135]:
# intersact_tickers = lower_tickers.union(upper_tickers)

In [136]:
upper_tickers

Index(['008080'], dtype='object', name='ticker')

In [142]:
upper_tickers.intersection(exclude_ticker)

Index(['008080'], dtype='object')

### 상하한가 제한이 있는데 이상해 보일 수 있지만 상폐전에 정리매매에서는 상하한가 제한이 없기 때문에 제대로 된 데이터 인것을 알 수 있다.

In [144]:
datas = pd.concat([adj_high_cleaning, adj_low_cleaning, adj_open_cleaning, adj_close_cleaning, volume_cleaning], axis=1)

In [145]:
datas.isna().sum()

adj_high       0
adj_low        0
adj_open       0
adj_close      0
volume       789
dtype: int64

## 거래량이 결측치가 많은것을 알 수 있고 거래량의 평균값으로 결측치를 대체한다.

In [146]:
volume_data = datas[['volume']]

In [147]:
tickers = volume_data.index.get_level_values('ticker').unique()

In [148]:
volume_data_list = []
for i, ticker in enumerate(tickers):
    if i % 100 == 0:
        print(i)
    data = volume_data.loc[idx[:, ticker], :]
    data = data.fillna(data.mean())
    volume_data_list.append(data)

0
100
200
300
400
500
600
700
800
900
1000
1100

In [149]:
volume_fillna_data = pd.concat(volume_data_list).sort_index()

In [150]:
datas['volume'] = volume_fillna_data['volume']

## Ticker들과 자산이름 데이터 생성

In [176]:
tickers = adj_close.iloc[7].apply(lambda x: x.replace('A', '')).to_list()

In [177]:
tickers

['Symbol',
 '005930',
 '000660',
 '035420',
 '035720',
 '207940',
 '051910',
 '006400',
 '005380',
 '068270',
 '000270',
 '005490',
 '066570',
 '012330',
 '028260',
 '096770',
 '051900',
 '017670',
 '105560',
 '055550',
 '034730',
 '036570',
 '011200',
 '361610',
 '015760',
 '003550',
 '032830',
 '018260',
 '090430',
 '009150',
 '086790',
 '251270',
 '003670',
 '302440',
 '034020',
 '352820',
 '033780',
 '010950',
 '003490',
 '000810',
 '010130',
 '326030',
 '009540',
 '011170',
 '030200',
 '018880',
 '009830',
 '034220',
 '316140',
 '024110',
 '086280',
 '097950',
 '004020',
 '011780',
 '032640',
 '021240',
 '071050',
 '161390',
 '000720',
 '011790',
 '137310',
 '006800',
 '035250',
 '011070',
 '267250',
 '008930',
 '002790',
 '241560',
 '383220',
 '271560',
 '028050',
 '180640',
 '139480',
 '000100',
 '000120',
 '010140',
 '078930',
 '029780',
 '028670',
 '003410',
 '004990',
 '128940',
 '016360',
 '005830',
 '020150',
 '006360',
 '298020',
 '112610',
 '007070',
 '006280',
 '008770',
 '005940',
 '042660',
 '307950',
 '019170',
 '036460',
 '047050',
 '008560',
 '047810',
 '336260',
 '010620',
 '014680',
 '272210',
 '039490',
 '081660',
 '012750',
 '023530',
 '047040',
 '026960',
 '002380',
 '088350',
 '285130',
 '001040',
 '204320',
 '282330',
 '375500',
 '000990',
 '138040',
 '030000',
 '009240',
 '010060',
 '000060',
 '298050',
 '004170',
 '012510',
 '012450',
 '011210',
 '004800',
 '064350',
 '138930',
 '000080',
 '006260',
 '000880',
 '001450',
 '011000',
 '001440',
 '120110',
 '003090',
 '052690',
 '001230',
 '017800',
 '294870',
 '007310',
 '042700',
 '073240',
 '004370',
 '051600',
 '010120',
 '069960',
 '004000',
 '069620',
 '111770',
 '006650',
 '336370',
 '000240',
 '950210',
 '010780',
 '000150',
 '000210',
 '016380',
 '013890',
 '009900',
 '181710',
 '005850',
 '248070',
 '005250',
 '001740',
 '139130',
 '185750',
 '192820',
 '003000',
 '175330',
 '032350',
 '031430',
 '298000',
 '042670',
 '000670',
 '363280',
 '020560',
 '005300',
 '004490',
 '161890',
 '214320',
 '003850',
 '001120',
 '023590',
 '093370',
 '005070',
 '003240',
 '009420',
 '300720',
 '003580',
 '014820',
 '192080',
 '003690',
 '018670',
 '102460',
 '103140',
 '001430',
 '267270',
 '039130',
 '005690',
 '005880',
 '284740',
 '001800',
 '079160',
 '002840',
 '003520',
 '025540',
 '344820',
 '057050',
 '003530',
 '069260',
 '114090',
 '005440',
 '241590',
 '064960',
 '079550',
 '001680',
 '014830',
 '020000',
 '009450',
 '006120',
 '003540',
 '280360',
 '000070',
 '003470',
 '006040',
 '082640',
 '002350',
 '268280',
 '192400',
 '108670',
 '272450',
 '034120',
 '010050',
 '089590',
 '033270',
 '097520',
 '105630',
 '192650',
 '071840',
 '036420',
 '383800',
 '049770',
 '000640',
 '267260',
 '353200',
 '001880',
 '145720',
 '195870',
 '012630',
 '210980',
 '005090',
 '298040',
 '085620',
 '017810',
 '115390',
 '034310',
 '005610',
 '170900',
 '068400',
 '097230',
 '017390',
 '018250',
 '081000',
 '003230',
 '015350',
 '033660',
 '007690',
 '145990',
 '007570',
 '009970',
 '001820',
 '006390',
 '001060',
 '281820',
 '008490',
 '271980',
 '005180',
 '003070',
 '001530',
 '002320',
 '016710',
 '001720',
 '027410',
 '037560',
 '286940',
 '000400',
 '026890',
 '034830',
 '123890',
 '226320',
 '011930',
 '030610',
 '020120',
 '002240',
 '053210',
 '093050',
 '016450',
 '084010',
 '000370',
 '024720',
 '339770',
 '126560',
 '008730',
 '002270',
 '017960',
 '001630',
 '005390',
 '003060',
 '001470',
 '037270',
 '071320',
 '002990',
 '001360',
 '030210',
 '009410',
 '008350',
 '060980',
 '004430',
 '001390',
 '002310',
 '130660',
 '025860',
 '009290',
 '001510',
 '095720',
 '003920',
 '009160',
 '001520',
 '183190',
 '033180',
 '007460',
 '093230',
 '104700',
 '068290',
 '091810',
 '019680',
 '058430',
 '138250',
 '082740',
 '003620',
 '317400',
 '016800',
 '079980',
 '001500',
 '001780',
 '001200',
 '079430',
 '084690',
 '000020',
 '006060',
 '058650',
 '007340',
 '006490',
 '016580',
 '075580',
 '161000',
 '002020',
 '122900',
 '293480',
 '272550',
 '084680',
 '213500',
 '001940',
 '003300',
 '136490',
 '009680',
 '005500',
 '017940',
 '006840',
 '002390',
 '249420',
 '072710',
 '004700',
 '033240',
 '000050',
 '031440',
 '004690',
 '000140',
 '016590',
 '002780',
 '000480',
 '002960',
 '003570',
 '011280',
 '011690',
 '029460',
 '007810',
 '900140',
 '002620',
 '005420',
 '014160',
 '322000',
 '010690',
 '000680',
 '003220',
 '007160',
 '009580',
 '101060',
 '004560',
 '036530',
 '003030',
 '007860',
 '214390',
 '005950',
 '029530',
 '001340',
 '005960',
 '063160',
 '101530',
 '035510',
 '000390',
 '025000',
 '096760',
 '077500',
 '002100',
 '102260',
 '077970',
 '002150',
 '007210',
 '234080',
 '306200',
 '037710',
 '015860',
 '016610',
 '214330',
 '013580',
 '002810',
 '007700',
 '002900',
 '001130',
 '107590',
 '095570',
 '004980',
 '092230',
 '004380',
 '012610',
 '005810',
 '001790',
 '083420',
 '138490',
 '044450',
 '003560',
 '244920',
 '004960',
 '229640',
 '070960',
 '092220',
 '298690',
 '004710',
 '001570',
 '094280',
 '005720',
 '003160',
 '000490',
 '035150',
 '000540',
 '002030',
 '092200',
 '101140',
 '005680',
 '248170',
 '002210',
 '008060',
 '004360',
 '033530',
 '011760',
 '055490',
 '103590',
 '004140',
 '004890',
 '001270',
 '000430',
 '078520',
 '014280',
 '008700',
 '036580',
 '001460',
 '003280',
 '194370',
 '009070',
 '012030',
 '004830',
 '267850',
 '023800',
 '003200',
 '011500',
 '003960',
 '128820',
 '023450',
 '308170',
 '033920',
 '006660',
 '028100',
 '009470',
 '090350',
 '001070',
 '001250',
 '004540',
 '012800',
 '000970',
 '013360',
 '002410',
 '002170',
 '015360',
 '039570',
 '006890',
 '003120',
 '004250',
 '006220',
 '014790',
 '004310',
 '001750',
 '102280',
 '017550',
 '069460',
 '200880',
 '000860',
 '000180',
 '144620',
 '024090',
 '007280',
 '105840',
 '004970',
 '011810',
 '071970',
 '008040',
 '003830',
 '008970',
 '010040',
 '015890',
 '007110',
 '015020',
 '004090',
 '006380',
 '074610',
 '005320',
 '012690',
 '089470',
 '004150',
 '017180',
 '100250',
 '000320',
 '134380',
 '034300',
 '210540',
 '000300',
 '002700',
 '016880',
 '006740',
 '117580',
 '123690',
 '031820',
 '010600',
 '006340',
 '044820',
 '011150',
 '003480',
 '012200',
 '004440',
 '000700',
 '025750',
 '004720',
 '002450',
 '011090',
 '282690',
 '017900',
 '026940',
 '000220',
 '100840',
 '004060',
 '002880',
 '023960',
 '021050',
 '012170',
 '009190',
 '002460',
 '047400',
 '017040',
 '032560',
 '014530',
 '008250',
 '005740',
 '006110',
 '091090',
 '014580',
 '003460',
 '000890',
 '007540',
 '013570',
 '100220',
 '120030',
 '002710',
 '001260',
 '000230',
 '010960',
 '119650',
 '008600',
 '069640',
 '007660',
 '003350',
 '002630',
 '264900',
 '118000',
 '009460',
 '004410',
 '009270',
 '092440',
 '214420',
 '011390',
 '002760',
 '011700',
 '067830',
 '020760',
 '093240',
 '005430',
 '008260',
 '004840',
 '005750',
 '004080',
 '003650',
 '001380',
 '023000',
 '013520',
 '000500',
 '134790',
 '019440',
 '002720',
 '009440',
 '267290',
 '015590',
 '025820',
 '027740',
 '143210',
 '016740',
 '009200',
 '058850',
 '227840',
 '013870',
 '006370',
 '163560',
 '010820',
 '018470',
 '075180',
 '012280',
 '004270',
 '053690',
 '023810',
 '016090',
 '001290',
 '002360',
 '003720',
 '145210',
 '034590',
 '001550',
 '009320',
 '015230',
 '012160',
 '027970',
 '000040',
 '000520',
 '078000',
 '004770',
 '024890',
 '024900',
 '000910',
 '009180',
 '129260',
 '007980',
 '002200',
 '002600',
 '013700',
 '002870',
 '006090',
 '011330',
 '007590',
 '378850',
 '380440',
 '030790',
 '058730',
 '111110',
 '014710',
 '035000',
 '005360',
 '002070',
 '004910',
 '006980',
 '005870',
 '005110',
 '001620',
 '005010',
 '025620',
 '155660',
 '003610',
 '010100',
 '002140',
 '008420',
 '004870',
 '000650',
 '085310',
 '058860',
 '014440',
 '017370',
 '023350',
 '005800',
 '041650',
 '044380',
 '012320',
 '090080',
 '004450',
 '003080',
 '002920',
 '001080',
 '009310',
 '069730',
 '001140',
 '092780',
 '023150',
 '014130',
 '133820',
 '003010',
 '015540',
 '001020',
 '049800',
 '009770',
 '123700',
 '014990',
 '001560',
 '007610',
 '000850',
 '007120',
 '021820',
 '002820',
 '002220',
 '090370',
 '000590',
 '008870',
 '003780',
 '008110',
 '010770',
 '024070',
 '009810',
 '072130',
 '025530',
 '013000',
 '084670',
 '010400',
 '002690',
 '071090',
 '006200',
 '000950',
 '006570',
 '019180',
 '006880',
 '005820',
 '010660',
 '000760',
 '025560',
 '109070',
 '004100',
 '009140',
 '019490',
 '088790',
 '010420',
 '084870',
 '011420',
 '007630',
 '033250',
 '003680',
 '051630',
 '018500',
 '001210',
 '014910',
 '004920',
 '015260',
 '071950',
 '030720',
 '011300',
 '011230',
 '001420',
 '010640',
 '005030',
 '025890',
 '012600',
 '001770',
 '002420',
 '008500',
 '010580',
 '000010',
 '000030',
 '000090',
 '000110',
 '000130',
 '000160',
 '000170',
 '000200',
 '000280',
 '000310',
 '000330',
 '000360',
 '000420',
 '000450',
 '000470',
 '000510',
 '000570',
 '000600',
 '000610',
 '000730',
 '000830',
 '000840',
 '000870',
 '000900',
 '000930',
 '001030',
 '001090',
 '001150',
 '001160',
 '001170',
 '001190',
 '001280',
 '001300',
 '001350',
 '001370',
 '001400',
 '001580',
 '001600',
 '001610',
 '001670',
 '001690',
 '001700',
 '001830',
 '001910',
 '001920',
 '001930',
 '001950',
 '001980',
 '002000',
 '002010',
 '002050',
 '002080',
 '002130',
 '002180',
 '002250',
 '002300',
 '002340',
 '002440',
 '002530',
 '002540',
 '002550',
 '002610',
 '002730',
 '002740',
 '002850',
 '002860',
 '002910',
 '002930',
 '002940',
 '002950',
 '003020',
 '003040',
 '003050',
 '003110',
 '003190',
 '003290',
 '003320',
 '003330',
 '003450',
 '003500',
 '003590',
 '003600',
 '003640',
 '003660',
 '003810',
 '003840',
 '003900',
 '003930',
 '003940',
 '003970',
 '003990',
 '004010',
 '004110',
 '004130',
 '004190',
 '004200',
 '004210',
 '004230',
 '004260',
 '004280',
 '004290',
 '004390',
 '004460',
 '004510',
 '004530',
 '004550',
 '004600',
 '004620',
 '004660',
 '004730',
 '004740',
 '004820',
 '004940',
 '005000',
 '005020',
 '005040',
 '005060',
 '005100',
 '005190',
 '005270',
 '005280',
 '005330',
 '005350',
 '005410',
 '005450',
 '005510',
 '005560',
 '005580',
 '005600',
 '005620',
 '005660',
 '005760',
 '005770',
 '005790',
 '005890',
 '005980',
 '006070',
 '006150',
 '006160',
 '006210',
 '006240',
 '006250',
 '006270',
 '006290',
 '006320',
 '006350',
 '006510',
 '006520',
 '006540',
 '006590',
 '006600',
 '006610',
 '006750',
 '006790',
 '006900',
 '007000',
 '007020',
 '007050',
 '007100',
 '007170',
 '007190',
 '007200',
 '007230',
 '007240',
 '007360',
 '007380',
 '007410',
 '007420',
 '007480',
 '007490',
 '007790',
 '007800',
 '007910',
 '008000',
 '008020',
 '008080',
 '008100',
 '008190',
 '008270',
 '008320',
 '008400',
 '008440',
 '008480',
 '008530',
 '008540',
 '008640',
 '008650',
 '008670',
 '008720',
 '008750',
 '008810',
 '008890',
 '008900',
 '008950',
 '008980',
 '008990',
 '009030',
 '009050',
 '009080',
 '009330',
 '009360',
 '009380',
 '009650',
 '009690',
 '009720',
 '009760',
 '009840',
 '009890',
 '009940',
 '009990',
 ...]

In [178]:
names = adj_close.iloc[8].to_list()

In [184]:
company_data = pd.DataFrame({tickers[0]:tickers[1:], names[0]:names[1:]})

In [185]:
company_data.columns = ['ticker', 'name']

In [186]:
company_data

      ticker      name
0     005930      삼성전자
1     000660    SK하이닉스
2     035420     NAVER
3     035720       카카오
4     207940  삼성바이오로직스
...      ...       ...
1172  900030      연합과기
1173  900050    중국원양자원
1174  950010  평산차업 KDR
1175  950070      중국고섬
1176  950100    SBI모기지

[1177 rows x 2 columns]

## 이상한 종목들 제거

### 백테스트 경험을 토대로 제외해야되는 종목코드 추가

In [159]:
exclude_tickers = pd.Index(['025620', 
                           '001260',
                           '015540',
                           '003570',
                           '008080',
                           '003060',
                           '017170',
                           '002540',
                           '008400',
                           '009310',
                          ]).unique()

In [158]:
tickers = datas.index.get_level_values('ticker').unique()

In [160]:
cleaning_tickers = tickers.difference(exclude_tickers)

In [161]:
cleaning_tickers

Index(['000010', '000020', '000030', '000040', '000050', '000060', '000070',
       '000080', '000090', '000100',
       ...
       '380440', '383220', '383800', '900030', '900050', '900140', '950010',
       '950070', '950100', '950210'],
      dtype='object', length=1161)

In [163]:
# 시간 오래 걸립니다.
datas = datas.loc[idx[:, cleaning_tickers], :]

In [167]:
company_data

      ticker      name
0     005930      삼성전자
1     000660    SK하이닉스
2     035420     NAVER
3     035720       카카오
4     207940  삼성바이오로직스
...      ...       ...
1172  900030      연합과기
1173  900050    중국원양자원
1174  950010  평산차업 KDR
1175  950070      중국고섬
1176  950100    SBI모기지

[1177 rows x 2 columns]

In [187]:
company_data.set_index('ticker', inplace=True)

In [188]:
company_data = company_data.reindex(index=cleaning_tickers).reset_index()

In [193]:
company_data.columns = ['ticker', 'name']

## Data 저장

In [24]:
DATA_STORE = Path('fnguide_data.h5')

In [197]:
with pd.HDFStore(DATA_STORE) as store:
    store.put('fnguide/prices', datas)
    store.put('fnguide/stocks', company_data)
    store.put('fnguide/marcap', marcap_cleaning)
    store.put('fnguide/share', list_shares_cleaning)

In [26]:
with pd.HDFStore(DATA_STORE) as store:
    print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: fnguide_data.h5
/fnguide/marcap            frame        (shape->[5836780,1])
/fnguide/prices            frame        (shape->[5768127,5])
/fnguide/share             frame        (shape->[5832145,1])
/fnguide/stocks            frame        (shape->[1,2])

In [27]:
list_shares_cleaning

                     stocks
date       ticker
1990-01-01 005930  33200000
           006400   5400000
           005380  34881628
           000270  30000000
           005490  91789134
...                     ...
2021-07-23 012600  13589892
           001770   1214878
           002420   4075920
           008500   1200000
           010580  64581636

[5832145 rows x 1 columns]